<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ToDoList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen">
    <header class="bg-orange-400 text-white p-4">
        <div class="container mx-auto">
            <h1 class="text-xl font-bold">TodoList</h1>
        </div>
    </header>

    <main class="flex-grow container mx-auto p-4">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="bg-orange-400 text-white text-center p-4">
        <div class="container mx-auto">
            ꒰ঌ જ⁀➴使用ToDoList不遺漏你的美好日常 જ⁀໒꒱
        </div>
    </footer>
</body>
</html>
